# **Text mining: SENTIMENT ANALYSIS**

## ðŸŽ“ Masterâ€™s Program in Data Science & Advanced Analytics  
**Nova IMS** | March 2025  
**Course:** Business Cases with Data Science

## ðŸ‘¥ Team **Group 34**  
- **[Philippe Dutranoit]** | [20240518]  
- **[Diogo Duarte]** | [20240525]  
- **[Rui luz]** | [20211628]  
- **[Rodrigo Sardinha]** | [20211627]  

## ðŸ“Š Goal of the notebook

This notebook focus on the EDA, its aim to give use a better understanding of what the data looks like and how can we process it in further step

# Imports

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
df_train = pd.read_csv('../Data/train.csv')
df_test = pd.read_csv('../Data/test.csv')
df_train

                                                   text  label
0     $BYND - JPMorgan reels in expectations on Beyo...      0
1     $CCL $RCL - Nomura points to bookings weakness...      0
2     $CX - Cemex cut at Credit Suisse, J.P. Morgan ...      0
3     $ESS: BTIG Research cuts to Neutral https://t....      0
4     $FNKO - Funko slides after Piper Jaffray PT cu...      0
...                                                 ...    ...
9538  The Week's Gainers and Losers on the Stoxx Eur...      2
9539  Tupperware Brands among consumer gainers; Unil...      2
9540  vTv Therapeutics leads healthcare gainers; Myo...      2
9541    WORK, XPO, PYX and AMKR among after hour movers      2
9542             YNDX, I, QD and OESX among tech movers      2

[9543 rows x 2 columns]

# Train-test Split

In [3]:
X_train, X_val, Y_train, Y_val = train_test_split(
    df_train.drop(columns='label'),
    df_train['label'],
    test_size=0.2,
    random_state=42,
    stratify=df_train['label']
)

In [4]:
Y_train

2186    2
6819    1
6157    0
2462    0
4097    2
       ..
2807    2
704     2
990     1
4362    2
7664    2
Name: label, Length: 7634, dtype: int64

# Export

In [5]:
X_train.to_csv('../Data/X_train.csv')
X_val.to_csv('../Data/X_val.csv')
Y_train.to_csv('../Data/Y_train.csv')
Y_val.to_csv('../Data/Y_val.csv')